body {
color: rgb(43, 86, 226);
text-align: center;
}

.conteiner {
    /* border: solid 1px black; */
    border-radius: 15px;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
    box-shadow: rgb(231, 231, 231) 1px 5px 15px 5px;
    background-color: rgb(0, 162, 255);
    color: rgb(247, 247, 247);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header{
    background-color: rgb(162, 0, 255);
    width: 100%;
    height: 50px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: solid 5px rgb(0, 238, 255);
}

.text-container{
    padding: 50px;
}

.header-title{
    padding: 16px;
}

